@import "./reset.scss";

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

.phone {
  width: 420px;
  height: 80%;
  background-color: #bcbfbf;
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 10px;
}

.total {
  background-color: black;
  color: white;
  text-align: right;
  display: flex;
  flex-direction: column;
  padding: 25px 20px;
  .total__price {
    font-size: x-large;
  }

  .total__subtitle {
    font-size: small;
  }
}

.items {
  .item {
    position: relative;
    height: 250px;
    display: grid;
    grid-template-rows: 4fr 1fr;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    margin-bottom: 30px;

    .item__info {
      padding: 10px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      border-bottom: 3px solid black;

      .item__info-first-col {
        display: grid;
        grid-template-rows: 4fr 1fr;

        .item__title {
          font-size: xx-large;
          font-weight: bolder;
          float: left;
        }

        .item__subtitle {
          padding-top: 5px;
        }
      }

      .item__info-second-col {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .item__total-price {
          font-size: x-large;
          font-weight: bold;
        }
      }
    }

    .item__specs {
      display: grid;
      grid-template-columns: 1fr 1fr 2fr;

      .spec {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 5px 10px;

        &:first-child {
          border-right: 3px solid black;
        }

        .spec__title {
          font-size: smaller;
        }

        .spec__details {
          display: flex;
          width: 100%;
          justify-content: space-between;
        }
      }
    }

    img {
      width: 180px;
      height: 170px;
      position: absolute;
      left: 50%;
      bottom: 0px;
      box-sizing: border-box;
      border: 3px solid black;
      border-bottom: none;
      background-size: contain;
    }
  }
}
