@import "./reset.scss";

$gridGap: 2px;
$borderRadius: 7px;

body {
  background-color: hsl(272, 39%, 48%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .wrapper {
    width: 60%;
    height: 70%;
    background-color: #191919;
    padding: 20px;
  }
}

.grid {
  display: grid;
  height: 100%;
  grid-template-columns: 1.2fr 1fr;
  gap: $gridGap;
}

.grid__col:first-child {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 2.3fr 1fr;
  gap: $gridGap;
  .header {
    background-color: white;
    grid-column: span 2;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    .header__top {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 20px;
      .header__label {
        text-transform: uppercase;
        font-size: 10px;
        font-weight: bold;
        background-color: #daab29;
        padding: 4px 15px;
        border-radius: 12px;
      }
    }
    .header__title {
      text-align: center;
      font-size: 80px;
      font-weight: bolder;
    }
    .header__subtitle {
      margin-bottom: 10px;
      font-size: 22px;
      font-weight: bold;
      border-top: 1px solid black;
      padding-top: 10px;
    }
  }
}

.grid__img {
  border-radius: $borderRadius;
  background-image: url("https://source.unsplash.com/random");
  background-size: cover;
}

.subgrid {
  height: 100%;
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  grid-template-rows: 1.2fr 1fr 1fr;
  gap: $gridGap;
  .nav {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    font-weight: lighter;
    ul {
      display: flex;
      flex-direction: column;
      gap: 15px;
      font-size: 12px;
    }
    .nav__cta {
      text-transform: uppercase;
      font-size: 20px;
    }
  }
  .grid__cells {
    position: relative;
    .grid__cell {
      padding: 15px;
      border-radius: $borderRadius;
      &:first-child {
        background-color: #daab29;
      }
      &:nth-child(2) {
        margin-top: $gridGap;
        background-color: white;
      }
    }
    .grid__cell-cta {
      color: white;
      position: absolute;
      bottom: 0px;
      padding: 15px;
      text-transform: uppercase;
      font-size: 20px;
    }
  }
  .blog-post {
    grid-column: span 2;
    background-color: white;
    border-radius: $borderRadius;
    padding: 25px;
    display: flex;
    align-items: flex-end;
    p {
      font-size: 12px;
      font-weight: 500;
    }
  }
}
